<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="container">

        <h1> Welcome {{{{NAME}}}} </h1>
        <h3>Your data:</h3>
        <p> Mobile Number: {{{{MOBILE}}}} </p>
        <p> Email: {{{{EMAIL}}}} </p>
        <p> Address: {{{{ADDRESS}}}} </p>

        <button onclick="getInfo()"> Show All Clients </button>
        <div id="clients"></div>

    </div>
    <script src="../scripts/script.js"></script>

</body>
</html>